@charset "utf-8";

* { margin: 0; padding: 0; }
body, html { width: 100%; height: 100%; background:#ffffff; 
    color:#333333; font-family:"돋움", "Dotum", sans-serif; }
ul { list-style: none; }
a { text-decoration: none; }
button, label, input { background:none; background-color:transparent; border:0; outline:0;  }    
img { border:0; }
label { cursor: pointer; }    
.wrap { width: 1200px; margin:0 auto; }    
.hd {  clear:both; width:1200px; height:100px;  } 
.logo { display:block; width: 200px; height: 40px; float:left; margin-top:15px; }    
.gnb { float:right; margin-right: 20px; width:601px; margin-top:20px; height: auto; box-sizing: border-box; }
.gnb li { float:left; width:149px; position:relative; line-height:32px; 
    cursor:pointer; border-top:1px solid #333; border-right:1px solid #333; 
    border-left:1px solid #333;
    box-sizing:border-box; }
.gnb li a { display:block; text-align:center; line-height:32px; color:#333; 
    background:#fff; font-size:14px; font-weight:bold; }    
.sub {  position:absolute; top:32px; left:-1px; z-index:900; opacity:0; visibility:hidden; box-sizing:border-box; border-bottom:1px solid #333; transition: 0.8s; } 
.gnb li a.dp1 { border-bottom:1px solid #333; line-height:31px; }   
.gnb li:hover a.dp1 { background:#0066ad; color:#fff; }    
.gnb li:hover .sub { opacity:1; visibility:visible;  } 
.gnb li.item1 { border-left:1px solid #333; }    
.gnb li.item1 .sub { border-left:1px solid #333; left:-1px; border-right:1px solid #333; box-sizing:border-box; }
.gnb li.item1 .sub li { box-sizing:border-box; width: 148px; }    
.gnb li .sub li { border-top:0px; }    
.gnb li .sub a:hover { background:#0066ad; color:#fff; }    
.slider { clear:both; width:1200px; height: 300px; overflow:hidden; }
#vs { width: 1200px; height:300px; overflow:hidden; position:relative; }
.img_box { width:1200px; height:900px; }
.img_box li { clear:both; width:1200px; height:300px; position:absolute; top: 0; left: 0; z-index:10; opacity:0; visibility:hidden; transition:0.8s; transition-timing-function:ease-in; }
.img_box li.on { opacity:1; visibility:visible; z-index:11; transition-timing-function:ease-out; }
.img_box li a, .img_box li img { display:block; width:1200px; height: 300px; } 
.img_box li a { position:relative; }
.img_box h3.sl_title { position:absolute; top:120px; left:0; color:#fff; font-size:32px; text-align:center; line-height:60px; width:100%; }
.left_btn, .right_btn { position:absolute; top:100px; z-index:20; display:block; 
    font-size:36px; text-align:center; width:100px; height: 100px; 
    line-height:100px; cursor: pointer; color:#0066ad; }    
.left_btn { left:0px; }
.right_btn { right:0px; }    

.contents { clear: both; width: 1200px; height: 200px; overflow: hidden; }
.con_fr li { float:left; height:190px; padding-top:10px; } 
.con_fr li.nt { width:500px; }   
.con_fr li.ban { width:300px; }    
.con_fr li.short { width:400px; }    
.rdo { display:none; }    
#tb_con1, #tb_con2 { display:none; }
.tb_con_box { clear:both; }    
#ra1:checked ~ .tb_con_box #tb_con1 { display:block; }   
#ra2:checked ~ .tb_con_box #tb_con2 { display:block; } 
.tb_btn_box #tb_btn1, .tb_btn_box #tb_btn2 { display:block; width:120px;
    line-height:32px; text-align: center; background:#333; color:#fff; float:left; box-sizing:border-box; font-size:14px;  font-weight:bold; border-radius:5px 5px 0px 0px; }    
#ra1:checked ~ .tb_btn_box #tb_btn1 { background:#0066ad;  }    
#ra2:checked ~ .tb_btn_box #tb_btn2 { background:#0066ad;  }    
.tb_con { width:500px; height:164px; overflow:hidden; box-sizing: border-box; 
    border-top:2px solid #0066ad; }   
.notice { font-size:13px; margin-top:8px; } 
.notice .item1 { width:12%; text-align:center; }    
.notice .item2 { width:60%; text-indent:10px; }        
.notice .item3 { width:28%; text-align:center; }    
.notice tr th { line-height:28px; text-align:center; background:#ccc; color:#333333; border-top:1px solid #333333; border-bottom:1px solid #333333; }    
.notice tr td { line-height:24px; color:#333333; border-bottom:1px solid #666; }   
.notice tr td a { display:block; color:#333333; overflow:hidden; white-space: nowrap; text-overflow: ellipsis; padding-right:14px; cursor:pointer; }  
.notice tr td a:hover { text-decoration:underline; color:#0066ad; }   
.gal { width: 420px; margin:10px auto; }
.gal a { display:block; width:140px; float:left; text-align:center; } 
.gal a img { border:2px solid #0066ad; }    
.ban a { display:block; text-align:center; }
.ban a img { height:180px; } 

.short a { display:block; float:left; width:100px; margin-left:15px; }
.short a img { display:block; margin:0 auto; }    
.short a span { display:block; width:100%; line-height: 32px; text-align:center; color:#333333; font-size:14px; font-weight:bold; }    

.ft { clear:both; width: 1200px; height: 100px; overflow:hidden; 
    box-sizing:border-box; position:relative; }  
.ft_logo { display:block; float:left; margin-top:22px; width:200px; margin-bottom: 22px; }
.ft_wrap { position:absolute; width:1020px; height:100px; right:0; }
.ft_link { width:640px; margin:6px auto; height:28px; }
.ft_link li { float:left; padding:0px 8px; }
.ft_link li a { font-size:14px; color:#333333; font-weight:bold;}
.ft_link li a:after { content:"|"; padding-left:16px; }
.ft_link li.item4 a:after { content:""; }
.ft_link li a:hover { color:#30a3f3; }
.ft_link li a:hover::after { color:#333; }
.copyright { clear:both; width:1020px; line-height:1.4; text-align:center;
    color:#333333; font-size:14px; padding-top:8px; border-top:1px solid #333333; }    

.ft_bor { display:block; width:100%; background:#333333; height:1px; clear:both; }    
#tar { position:fixed; top:20%; left:30%; z-index:999; width:40%; height:60%; 
    border:1px solid #333333; background-color:#ffffff;
    display:none;  }
#tar img { display:block; margin:20px auto;  }
.title_bar { clear:both; height:32px; line-height:32px; background:#333333; color:#fff; font-size:14px; position:relative; }
.pop_title { text-align:center; text-indent:-32px; }
.close { display:block; width:32px; height:32px; position:absolute; 
    right:0; top:0; background-image:url("../images/close.png"); 
    text-indent:9999px; } 
.col_title { text-align:center; font-size:16px; line-height:3;  }
.pop_para { padding:5px 10px; line-height:20px; font-size:14px; color:#333333; }