@charset "utf-8";
/* 초기화 */
* { margin: 0; padding: 0; }
body, html { width: 100%; height: 100%; font-family: "돋움", "Dotum", sans-serif; }
ul { list-style: none; }
a { text-decoration: none; }

/* 구역별 영역 크기 지정 */
.header, .slide, .contents, .footer { width: 1200px; margin:0 auto; 
    overflow: hidden; position:relative; }
.header { height: 100px; overflow:visible; }
.slide { height: 300px; }
.contents { height: 200px; }
.footer { height: 100px;    }

/* 헤더 영역 스타일 */
.logo { display:block; width: 200px; height: 40px; float:left; margin-top: 30px; }
#gnb { right:0; width: 600px; top:30px; position:absolute; z-index:99; 
    height:auto; border:1px solid #666; }
#gnb li { width:150px; float:left;  }
#gnb li a { display:block; line-height:40px; text-align:center; 
font-size:14px; font-weight:600; }
#gnb li a.dep1 { color:#333; background-color:#fff; border-right:1px solid #666; font-weight:900; }
#gnb > .menu > li:last-of-type a.dep1 { border-right:0px; }
#gnb li:hover a.dep1 { background:#3babe2; color:#fff; }
#gnb .sub { height:0; opacity:0; border-top:1px solid #666; overflow:hidden; 
transition-duration:0.1s, 0.5s; transition-property:height, opacity; }
#gnb .sub a { color:#333; background:#fff; }
#gnb:hover .sub { height:160px; opacity:1; }
#gnb .sub a:hover {  background-color:#333; color:#fff; }

/* 슬라이드 영역 */
.slide .ban { clear:both; }
.ban li { clear:both; width:1200px; height:300px; }
.ban li img { display:block; width: 1200px; height:300px; }

/* 콘텐츠 영역 */
.col4 { width:33.333333%; height:200px; float:left; }
.col6 { width:25%; float:left; }
.tabConBox { position:relative; }
.tabCon { display:none; clear: both; border:1px solid #333; top:56px; position:absolute; left: 0; z-index:0; }
#ra1:checked ~ .tabConBox .tabCon.item1 { display:block; }
#ra2:checked ~ .tabConBox .tabCon.item2 { display:block; }
.raItem { display:none; }
.tabBtn { display:block; line-height:40px; width:90px; margin-top:15px; font-size:14px; font-weight:600; border:1px solid #333; border-bottom:1px solid #333; float:left; background:#ccc; cursor:pointer; z-index:2; position:absolute; text-align: center; }
.tabBtn.item1 { border-right:0px;  }
.tabBtn.item2 { left:91px; }
#ra1:checked ~ .tabBtnBox .tabBtn.item1 { border-bottom-color:#fff;
background-color:#fff; }
#ra2:checked ~ .tabBtnBox .tabBtn.item2 { border-bottom-color:#fff;
background-color:#fff; }

.noti, .gal { clear:both; height: 140px; }
.noti th, .noti td { line-height:24px; font-size:14px; }
.noti th { text-align:center; background-color:#ccc; }
.nTit { width:280px; }
.nDate { width: 110px; text-align:center; color:#222328; }
td.nTit { text-indent:15px; color:#222328; }
td.nTit a { display:block; color:#222328; }
.gal { padding:12px; box-sizing: border-box; overflow:hidden; }
.conTitle { line-height:36px; text-align: center; }
.banImg { text-align:center; }
.banImg img { width: 180px; height: auto;}
.shortcut { border-top:2px solid #ccc; border-bottom:2px solid #ccc;
height: 142px; padding-top: 10px; }
.shortcut a { text-align: center; display:block; color:#333; }
.shortcut a img { display:block; width:90px; height: auto; margin:0 auto; }
.shortcutTxt { font-size:14px; font-weight:600; }

/* 푸터 영역  */
.ft_logo { position:absolute; top:0; left:0; z-index:1;
width: 200px; height:100px; background-position: center center; 
background-image:url("../images/ft_logo.png"); background-repeat: no-repeat; }
.copyright { line-height:100px; text-align: center; border-top:2px solid #222328; color:#222328; background:#ddd; font-weight:600; font-size:14px; }
.sns { position:absolute; right:0; top:0; width:300px; height:100px; 
z-index:3; }
.sns li { float:left; width:100px; height:100px; }
.sns li a { display:block; line-height:100px; }

/* 팝업 창 */
#pop { width:100%; height:100%; position:fixed; top: 0; left: 0; 
z-index:999; display:none; }
#pop:target { display:block; }
.popWrap { width:400px; height:300px; margin:150px auto; background:#fff; position:relative; box-shadow:0px 0px 6px #000; 
border:1px solid #333; }
.popTitle { text-indent:15px; line-height:40px; font-size:16px; background:#333; color:#fff; }
.popContent { padding:30px; font-size:14px; color:#222328; }
.popClose { display:block; width:60px; height:32px; line-height:32px; 
color:#fff; background:#333; position:absolute; bottom:15px; right:15px; z-index:9999; font-size:14px; font-weight: 600;
text-align: center; }
