@charset "utf-8";
/* 각 영역의 크기 설정 */
body, html { width:100%; color:#333333; }
.hd_wrap, .ft_wrap {  width:100%; height: 100px; background:#efefef;}
.hd, .slide, .contents, .ft { width: 1200px; margin:0 auto; 
position:relative;  clear: both; }
.hd { height:100px;  overflow: visible; }
.slide { height: 300px; overflow:hidden;}
.contents { height: 200px; overflow:hidden;}
.ft { height:100px; overflow:hidden; }

/* 헤더 영역 서식 */
.logo { display:block; float:left; width:200px; height:100px; 
background:url("../images/logo.png") no-repeat center center; 
text-indent: -9999px; background-size:100% auto; }

#main { position:absolute; right:50px; top:30px; z-index:999;  }
#main li { float:left; position:relative; }
#main li a { display:block;   }
#main li a.dept1 { width:150px; text-align:center; line-height:40px; 
color:#737373; font-size:16px; font-weight:700; border-top:1px solid #4a4948; border-right:1px solid #4a4948; border-bottom:1px solid #4a4948; }
#main li:first-child a.dept1 { border-left:1px solid #4a4948; }
#main li:hover a.dept1 { background-color:#4a4948; color:#fff; }
#main li .sub { visibility:hidden;  opacity:0; transition:0.5s; border:0;  height:0px; 
background:#4a4948;}
#main li:hover .sub { visibility:visible; opacity:1; border:0;  height:160px; }
#main .sub li { clear:both; width:150px; line-height:40px; }
#main .sub li a { line-height:40px; font-weight:600;
font-size:14px; text-align:center; color:#737373; background:#fff; border:0;
width:151px; }
#main .sub li a:hover { color:#fff; background-color:#4a4948; }
#main .sub.first li a { width: 152px; }

/* 슬라이드 영역 서식 */
/* 이미지박스 안에 이미지 태그를 이용하는 경우 */
.ban_fr { width:300%; min-width:3600px; }
.ban_fr li { width: 1200px; height:300px; position:relative; }
.ban_fr li a { display:block; position:relative; }
.ban_fr .sl_tit { width: 100%; position:absolute; left:0; bottom:42%; line-height:2; text-align:center; 
color:#ffffff; text-shadow:2px 2px 5px #333333; font-size:40px; }
.btn_fr { position:absolute; top:35%; z-index:90; width:100%; }
.btn_fr li { width: 40px; height:40px; float:right; clear:both; margin-top:20px; }
.btn_fr .up { margin-right: 40px; }
.btn_fr .down { margin-right: 40px; }

.btn_fr .ban_btn { display:block; width: 40px; height:40px; line-height:40px;  text-align:center; font-size:22px; font-weight:600;  
background:rgba(0,0,0,0.6); border-radius:22px; color:#fff; cursor:pointer;  }
.num_fr .num_btn { display:block; width:12px; height:12px; border-radius:8px;
border:2px solid #caac7d; background:none; background-color:transparent; 
 cursor:pointer; }
.num_fr li { cursor:pointer; width:20px; height:20px; position:absolute; bottom:40px; z-index:21; }
.num_fr li.item1 { left:40px; }
.num_fr li.item2 { left:60px; }
.num_fr li.item3 { left:80px; }
.num_fr li.on .num_btn { background-color:#caac7d; }

/* 콘텐츠 영역 서식 */
.con_fr { width:1200px; height:200px; }
.con_fr li { float:left; width:400px; height:200px; }
.con_title { line-height:38px; color:#ffffff; font-weight:900; 
text-align:center; clear:both; background:#caac7d; margin-top:2px; 
width:120px; font-size:14px; border-radius:5px 5px 0px 0px; }
.divider { clear:both; width:95%; height:2px;  background:#caac7d; }
.noti { width:380px; height:150px; border:1px solid #4a4948; font-size:13px; padding-top:3px; 
}
.noti tr, .noti th, .noti td { height:27px; font-size:13px; color:#888888; }
.noti th { text-align:center; height:25px; background:#4a4948; 
color:#888888; }
.noti thead { width:380px; height:26px; }
.noti tbody { width:380px; height:120px; }
.title { width:260px;  background-image:url("../images/list.gif");
background-repeat:no-repeat; background-position:left center; 
background-size:auto 80%; border-right:0; text-indent:1.8em; }
.date { width:120px; text-align:center; }
.title a { display:block; overflow:hidden; text-overflow: ellipsis; 
white-space: nowrap; width:240px; line-height:28px;  color:#888888;
font-size:13px; cursor:pointer; }
.title a:hover { text-decoration:underline; }

.gal .divider { width:378px; }
.gal_fr { width:376px; margin-left:0px; margin-top:0px; padding-top:2px; padding-bottom:5px; border:1px solid #4a4948; height:146px; }
.gal_co { display:block; width:124px; text-align:center; float:left; }
.gal_co img { display:block; width:120px; height:auto; margin:0 auto; padding-top:3px; opacity:0.7; 
transition:0.6s; }
.gal_co:hover img { opacity:1; }

.banner_box { width:280px; height:160px; margin:0 auto; overflow:hidden; }
.banner_box a { display:block; width:280px; text-align:center; margin-top:0 auto;  line-height: 1.4; }
.banner_box img { display:block; width:280px; height:auto;  margin:0 auto; }

/* 푸터 영역 서식 */
.ft { position:relative;  }
.ft_logo { position:absolute; top:25px; left:0; z-index:31; 
width:210px; height:40px; background-image:url("../images/ft_logo.png"); 
background-size:cover; }
.copyright { font-size:13px; line-height:1.6; text-align:center; color:#888888; padding-top:25px; }
.right_box { position:absolute; right:0px; bottom:0; width:200px; height:100px; }
.sns_box { width:200px; padding-top:30px;  }
.sns_box li { float:right; width:60px; height:40px; margin-left:5px; margin-top:6px; }
.sns_box li a { display:block; width:32px; height:32px; background-repeat:no-repeat;
background-position:center center;  background-size:cover; margin:0 auto;}
.sns_box li a.ico1 { background-image:url(../images/sns1.png); }
.sns_box li a.ico2 { background-image:url(../images/sns2.png); }
.sns_box li a.ico3 { background-image:url(../images/sns3.png); }

.hr { width:100%; height:2px; background:#333; clear:both; margin-top: 10px; }

/* 팝업 영역 서식 */
.pop_box { width:30%; height:60%; min-height:500px; position:fixed; z-index:9999; 
left:35%; top:20%; background:#ffffff; border:1px solid #333333; display:none; }
.pop_box.on { display:block; }
.pop_tit { font-size:14px; font-weight:bold; text-indent:10px; color:#fff; background:#333333; line-height:30px; }
.pop_con { padding:10px 40px; font-size:13px; }
.pop_img { clear:both; margin-left:40px;  display:block; }
.close_btn { display:block; position:absolute; right:60px; bottom:30px;
width:80px; line-height:40px; background:#333333; color:#fff; cursor:pointer; }
